@font-face {
  font-family: 'Charter Roman';
    src: url('../../public/fonts/Charter-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Charter Black Italic';
    src: url('../../public/fonts/Charter-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Charter Bold';
    src: url('../../public/fonts/Charter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Charter Bold Italic';
    src: url('../../public/fonts/Charter-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Charter Italic';
    src: url('../../public/fonts/Charter-Italic.woff') format('woff');
}