.modal {
	.trigger {
		cursor: pointer;
	}
	
	.background {
		background-color: rgba(0,0,0,0.7);
	    
	    position: fixed;
	    z-index: 2;
	    top: 0;
	    left: 0;
	    margin: 0;
	    height: 100%;
	    width: 100%;
	}

	.content {
		overflow: scroll;
		background-color: #f9f9f9;

		position: relative;
		z-index: 3;
	    margin: 80px auto 0;
	    padding: 50px 30px;
	    width: 550px;

	}
}

.page-title {
	margin-top: 3rem;
}

.alert-text {
	color: map-get($foundation-palette, alert);
	font-size: 0.9rem;
	padding: 0.85em 1em;

	&:hover {
		color: scale-color(map-get($foundation-palette, alert), $lightness: -25%);	
	}

	transition: color 0.1s linear;
}