.bulletins {
	overflow-y: scroll;
}

.bulletin {
	color: black;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #9cca18;
}

.type {
	text-transform: uppercase;
	text-align: left;
}

.company,
.title,
.contact-name,
.position,
.round,
.role,
.interaction {
	text-align: left;
}

.contact-applied, 
.contact-followup,
.contact-phone,
.contact-email,
.date {
	text-align: right;
}

img {
	max-width: 150px;
	max-height: 150px;
	padding-bottom: 5px
}


.interview {
	border: 2px solid darkgrey;
}
.round {
	color: darkgrey;
	text-decoration: bold;
}

.contact{
	border: 2px solid #b2e522;
}	
.contact-name {
	color: #b2e522;
	text-decoration: bold;
}

.application {
	color: #9cca18;
	text-decoration: bold;
} 