.bulletin {
	color: black;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #9cca18;
}

.type {
	text-transform: uppercase;
	text-align: left;
}

.company,
.title,
.contact-name,
.position,
.round {
	text-align: left;
}

.contact-applied, 
.contact-followup,
.contact-phone,
.contact-email,
.date {
	text-align: right;
}

.contact-name, 
.position {
	text-decoration: bold;
	color: #9cc750;
}

img {
	max-width: 150px;
	max-height: 150px;
	padding-bottom: 5px
}