.bulletin {
	color: white;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	background-color: #9cca18;
	border-radius: 25px;
}

.type {
	text-transform: uppercase;
	text-align: left;
}

.company,
.title,
.contact-name,
.round {
	text-align: left;
}

.contact-applied, 
.contact-followup,
.contact-phone,
.contact-email,
.date {
	text-align: right;
}

img {
	max-width: 150px;
	max-height: 150px;
	padding-bottom: 5px
}