.signup-form-background, .login-form-background  {
	background-color: #b2e522;
}

label {
	text-decoration-color: white;
}

input {
	text-decoration-color: #9cc750;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	text-decoration-color: white;
}
