.signup-form-background, .login-form-background  {
	background-color: #b2e522;
}

label {
	text-decoration-color: white;
}

input {
	text-decoration-color: #9cc750;
}

.button {
	background-color: #71af05 !important;
	text-align: center;
	border: none;
	margin: 5px;
}

.button:hover {
	background-color: #9cc750;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	text-decoration-color: white;
}
