.logo-block {
	font-size: 22px;
	font-family: $charter-bold-1;
	text-align: center;

	img {
		width: 65px;
		margin-bottom: 6px;
	}

	margin-bottom: 10px;
}

.menu-link {
	text-align:center;

	margin-bottom: 25px;
	font-family: $charter;
	font-size: 25px;
	color: $off-black;
	display: block;
	text-decoration: none;

	&:hover {
		font-family: $charter-bold-1;

	}
}